.hero {
    height: 500px;
    background: url("/static/images/hero.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 80px;
    color: white;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn-primary {
    padding: 12px 30px;
    background: black;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.cars-section {
    padding: 80px;
}

.cars-section h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.cars-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.car-card img {
    width: 100%;
}

.car-card h3 {
    margin-top: 15px;
}

/* ===== HERO SLIDER ===== */
.hero-slider {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 85vh;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.6s ease;
}
.main-content{
    padding: 0;
}
.slide.active {
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-content {
    position: absolute;
    top: 30%;
    left: 8%;
    color: white;
    max-width: 500px;
}

.slide-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.slide-content p {
    font-size: 24px;
    margin-bottom: 30px;
}

.btn-primary {
    padding: 12px 30px;
    background: black;
    color: white;
    text-decoration: none;
}

/* Arrows */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: white;
    cursor: pointer;
    padding: 10px;
    background: rgba(0,0,0,0.3);
    border-radius: 50%;
    user-select: none;
}

.arrow.left { left: 20px; }
.arrow.right { right: 20px; }

/* Dots */
.dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.dots span {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    display: inline-block;
    background: white;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
}

.dots span.active {
    opacity: 1;
}
